.sectionTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #373737;
  text-align: center;
  margin: 0;
  padding: 16px 0;
}
.section {
  padding: 24px 12px 32px;
}

.cardList,
.descList {
  list-style: none;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

@media (min-width: 768px) {
  .cardList,
  .descList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
    max-width: 1280px;
  }
}

.cardList_image {
  width: 100%;
  object-fit: contain;
  max-width: 380px;
}

.featuresTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  color: #373737;
}
.featuresMeta {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  color: #373737;
}

.label {
  font-weight: 600;
}
.featuresInfo {
  margin: 0;
}
